*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 100%;
}

h1 {
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  max-width: 1000px;
}

label {
  font-weight: bold;
}

.col {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.row * {
  flex-grow: 1;
}

textarea {
  height: 500px;
  font-size: 1rem;
  resize: vertical;
  font-family: monospace;
}

input,
button,
select {
  font-size: 24px;
  padding: 0.5rem;
  border: none;
}

button {
  background: black;
  color: white;
}

button:hover,
button:focus {
  background: #444;
}
